{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Emprestimos{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
{% endblock %}

{% block content %}
{% if g.user %}
    <form method="post">
        <label for="titulo">titulo</label>
        <input name="title" id="title" value="{{ request.form['title'] }}">
        <input type="checkbox" name="atrasados" id="atrasados">
        <label>atrasados</label>
        <input type="submit" name="submit_btn" value="Pesquisar">
        <a href="{{ url_for('view.emprestimo') }}">Limpar</a>
    </form>
    <table>
    <tr>
        <th>CÓDIGO</th>
        <th>TÍTULO</th>
        <th>CLIENTE</th>
        <th>DATA</th>
        <th>PRAZO</th>
        <th>DEVOLUÇÃO</th>
        <th>INFO</th>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post['cod_emprestimo'] }}</td>
            <td>{{ post['tit_livro'] }}</td>
            <td>{{ post['nome_cliente'] }}</td>
            <td>{{ post['data_emp'] }}</td>
            <td>{{ post['prazo_devol'] }}</td>
            <td>{{ post['data_devol'] }}</td>
            <td>
                <form method="post">
                    <input type="text" name="cod" value="{{ post['cod_emprestimo'] }}" style="display: none;">
                    {% if post['data_devol'] is none %}
                        <input type="submit" value="❌" name="STATUS" disabled title="STATUS: EMPRESTADO">
                        <input type="submit" value="🔄" name="devolver" title="DEVOLVER">
                        <input type="submit" value="🗑️" name="deletar" title="DELETAR">
                    {% else %}
                        <input type="submit" value="✔️" name="STATUS" disabled title="STATUS: DEVOLVIDO">
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% endblock %}