{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Livros{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
{% endblock %}

{% block content %}
{% if g.user %}
    <a class="botao" href="{{ url_for('cadastro.livro') }}" id="novoLivro_menu_btn">➕ Adicionar Livro</a>
    <form method="post">
        <label for="titulo">titulo</label>
        <input name="pesquisa" id="pesquisa" value="{{ request.form['pesquisa'] }}">
        <input type="submit" name="btn_pesquisa" value="Pesquisar">
    </form>
    <table>
    <tr>
        <th>CÓDIGO</th>
        <th>TÍTULO</th>
        <th>AUTOR</th>
        <th>VOLUME</th>
        <th>EDIÇÃO</th>
        <th>ANO DE PUBLICAÇÃO</th>
        <th>QUANTIDADE</th>
        <th>DISPONÍVEIS</th>
        <th>INFO</th>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post['cod_livro'] }}</td>
            <td>{{ post['tit_livro'] }}</td>
            <td>{{ post['nom_autor'] }}</td>
            <td>{{ post['num_volume'] }}</td>
            <td>{{ post['num_edicao'] }}</td>
            <td>{{ post['anoPublic'] }}</td>
            <td>
                <form method="post">
                    <input type="text" name="cod" value="{{ post['cod_livro'] }}" style="display: none;">
                    {% if post['DISP'] == 0 %}
                    <input type="submit" value="-" name="remover_exemplar" disabled title="REMOVER EXEMPLAR">
                    {% else %}
                    {% if post['QNT'] == 1 %}
                    <input type="submit" value="-" name="remover_exemplar" disabled title="REMOVER EXEMPLAR">
                    {% else %}
                    <input type="submit" value="-" name="remover_exemplar" title="REMOVER EXEMPLAR">
                    {% endif %}
                    {% endif %}
                    {{ post['QNT'] }}
                    <input type="submit" value="+" name="adicionar_exemplar" title="ADICIONAR EXEMPLAR">
            </td>
            <td>{{ post['DISP'] }}</td>
            <td>
                <form method="post">
                    <input type="text" name="cod" value="{{ post['cod_livro'] }}" style="display: none;">
                    <input type="submit" value="📝" name="info" title="INFORMAÇÕES">
                    <input type="submit" value="❌" name="deletar" title="DELETAR">
                    {% if post['DISP'] == 0 %}
                    <input type="submit" value="⚠️" name="reservar"  title="RESERVAR">
                    {% else %}
                        <input type="submit" value="✅" name="emprestar"  title="EMPRESTAR">
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% endblock %}
