{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reservas{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
{% endblock %}

{% block content %}
{% if g.user %}
    <form method="post">
        <label for="titulo">titulo</label>
        <input name="title" id="title" value="{{ request.form['title'] }}">
        <input type="checkbox" name="atrasados" id="atrasados">
        <label>atrasados</label>
        <input type="submit" name="submit_btn" value="Pesquisar">
        <a href="{{ url_for('view.emprestimo') }}">Limpar</a>
    </form>
    <table>
    <tr>
        <th>CÓDIGO</th>
        <th>TÍTULO</th>
        <th>CLIENTE</th>
        <th>DATA</th>
        <th>Info</th>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post['cod_reserva'] }}</td>
            <td>{{ post['tit_livro'] }}</td>
            <td>{{ post['nome_cliente'] }}</td>
            <td>{{ post['data_reserva'] }}</td>
            <td>
                <form method="post">
                    <input type="text" name="cod" value="{{ post['cod_reserva'] }}" style="display: none;">
                    <input type="submit" value="❌" name="deletar">
                    {% if post['cod_exemplar'] != '' %}
                    <input type="submit" value="⚠️" name="reservar" disabled>
                    {% else %}
                        <input type="submit" value="✅" name="emprestar">
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endif %}
{% endblock %}