<!doctype html>
<title>{% block title %}{% endblock %} - biblio</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{%if request.path != '/' %}
  <nav>
    <h1>Biblio</h1>
    <ul style="text-align:center;">
      <a style="text-align:center; width: auto;" href="{{ url_for('home') }}">home</a>
    </ul>
  </nav>
{% endif %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>