{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}home{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="top_menu_btn">
    <a href="{{ url_for('view.livro') }}" class="botao" name="livros_menu_btn">LIVROS</a>

    <a href="{{ url_for('view.cliente') }}" class="botao" name="livros_menu_btn">CLIENTES</a>

    <a href="{{ url_for('view.emprestimo') }}" class="botao" name="livros_menu_btn">EMPRÉSTIMOS</a>
</div>

<br><br>

 <div class="retangulo">
    <h1>
        <p class="Titulo1">BIBLIO</p>
        <p class="Titulo2">SYSTEM</p>
    </h1>
 </div>

<br><br>

<div class="botton_menu_btn">
    <a class="botao" href="{{ url_for('cadastro.livro') }}" id="novoLivro_menu_btn">CADASTRAR NOVO LIVRO</a>

    <a class="botao" href="{{ url_for('cadastro.emprestimo') }}" id="novoEmprestimo_menu_btn">REALIZAR EMPRÉSTIMO</button>

    <a class="botao" href="{{ url_for('cadastro.cliente') }}" id="novoCliente_menu_btn">CADASTRAR NOVO CLIENTE</button>
</div>
{% endblock %}