{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastrar Exempler{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
  <form action="Clientes.html"; method="post">
    <label for="cod_livro" class="rotulos">cod_livro:</label>
    <input class="inputs" type="text" id="cod_livro" name="cod_livro" style="width: 16%; margin-left: 34px;">
    <br><br><br>
    <label for="num_exemplar" class="rotulos">num_exemplar:</label>
    <input class="inputs" type="text" minlength="3" maxlength="40" id="num_exemplar" name="num_exemplar" style="width: 16%; margin-left: 45px;">
    <br><br><br>
    <label for="desc_local" class="rotulos">desc_local:</label>
    <textarea class="input" type="text" id="desc_local" name="desc_local" rows="6" cols="50" style="width: 16%; margin-left: 14px;"></textarea>
    <br><br><br><br><br><br><br><br><br>
    <input class="enviar" type="submit" value="Enviar" id="enviar">
  </form>
{% endif %}
{% endblock %}