{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastrar Livro{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
  <form method="post">
    <label for="livro" class="rotulos">LIVRO:</label>
    <input class="inputs" type="text" id="livro" name="livro" style="width: 16%; margin-left: 34px;"">
    <br><br><br>
    <label for="autor" class="rotulos">AUTOR:</label>
    <input class="inputs" type="text" id="autor" name="autor" style="width: 16%; margin-left: 45px;">
    <br><br><br>
    <label for="edicao" class="rotulos">EDIÇÃO:</label>
    <input class="inputs" type="text" id="edicao" name="edicao" style="width: 16%; margin-left: 14px;">
    <br><br><br>
    <label for="volume" class="rotulos">VOLUME:</label>
    <input class="inputs" type="text" id="volume" name="volume" style="width: 16%; margin-left: 14px;">
    <br><br><br>
    <label for="anoPublicacao" class="rotulos">ANO DE PUBLICAÇÃO:</label>
    <input class="inputs" type="number" id="anoPublicacao" name="anoPublicacao" style="width: 16%; margin-left: 14px;">
    <br><br><br><br><br><br>
    <input class="enviar" type="submit" value="Enviar" id="enviar">
  </form>
{% endif %}
{% endblock %}