{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastrar Reserva{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
  {% for post in posts %}
    <form method="post">
      <input class="inputs" type="text" id="cdLivro" name="cdLivro" style="width: 16%; margin-left: 34px; display: none;" value="{{ post['cod_livro'] }}">
      <label for="nmLivro" class="rotulos">NOME DO LIVRO:</label>
      <input class="inputs" type="text" id="nmLivro" name="nmLivro" style="width: 16%; margin-left: 34px;" disabled value="{{ post['tit_livro'] }}"><br><br>
      <br>
      <label for="cpfCliente" class="rotulos">CPF DO CLIENTE:</label>
      <input class="inputs" type="text" id="cpfCliente" name="cpfCliente" style="width: 16%; margin-left: 45px;"><br><br>
      <br><br><br><br>
      <input class="enviar" type="submit" value="Enviar" id="enviar">
      <input class="cancelar" type="submit" value="Cancelar" id="cancelar">
    </form>
  {% endfor %}
{% endif %}
{% endblock %}